<div class="container" >
    <div class="row d-flex justify-content-around">
        <div class="col p-5">
            <div class="h1">About Me</div>
            <hr style="height:1px;border-width:271px;color:#0c6efd;" >
            <div class="p"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus repellat ad quos aut,
                ducimus
                eos labore dolore modi! Praesentium aliquam quis voluptatum veritatis doloribus repudiandae iure animi
                libero
                voluptatem consequatur! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, facere dolor
                magnam,
                quisquam eos reprehenderit assumenda sapiente ea, corrupti odio aliquam ipsum! Ad eos voluptatibus
                quaerat
                deleniti. Ipsam, tenetur sequi?</div>

        </div>
        <div class="col p-5 d-flex justify-content-around ">
            <img  class="me align-middle" width="300" src="assets/images/me.JPEG" alt="">
        </div>

    </div>
</div>
