<nav class="navbar navbar-expand-lg  navbar navbar-dark bg-primary float-center">
  <div class="container">
    <a class="navbar-brand" href="#"><img src="../assets/images/logo.png" alt="" width="30" height="24"
        class="d-inline-block align-text-top"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav m-auto me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link " aria-current="page" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="active">About me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/card" routerLinkActive="active" routerLinkActive="active">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLinkActive="active">porfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex">
        <button download="docc.pdf" class="btn btn-outline-light" type="submit">Download CV</button>
      </form>
    </div>
  </div>
</nav>
<div class="container">

  <router-outlet></router-outlet>
</div>
<!-- call function -->
<div class="container second mt-5">
  <div class="h4">1. Call Function </div>
  <button class="btn btn-primary m-5" (click)="getName('thoudfeee')">Get my name</button>
  <button class="btn btn-primary m-5" (click)="getName(data)">Get my name</button>

  <hr>
  <div class="h4">2. Important Event </div>
  <div class="p">Checkout in console </div>
  <button class="btn btn-primary m-5" (click)="myEvent('Click Event')">Click Event</button>
  <label class="">Keyup.enter</label>
  <input class=" m-5" type="text" #box (keyup.enter)="myEvent(box.value)">
  <input class=" m-5" type="text" #box1 (keyup.space)="myEvent(box1.value)">
  <label class="">blur</label>
  <input class=" m-5" type="text" #box (blur)="myEvent('blur event')"><br>

  <label class="mouse m-5" (mouseover)="myEvent('Mouse in')">Mouseover</label>
  <label class="mouse m-5" (mouseleave)="myEvent('Mouse out')">Mouseleave</label>


  <hr>
  <div class="h4">3. {{subTitle}} </div>

  <input class="m-5" type="text" [value]="name">
  <input class="m-5" type="text" value="{{name}}">

  <label class="">Disabled</label>
  <input class="m-5" type="text" disabled [value]="name">
  <label class="">Disabled</label>
  <input class="m-5" type="text" disabled value="{{name}}">

  <label class="m-5">Enabled to input text using Button</label>
  <input class="m-3" type="text" [disabled]="disabledBox" [value]="name">
  <input class="m-3" type="text" [disabled]="disabledBox" [value]="name">

  <input class="m-3" type="text" disabled="{{disabledBox}}" value="{{name}}">
  <button class="btn btn-primary m-5" (click)="enbleBox()">Enable</button>

  <hr>

  <!--Conditional Statement  -->
  <div class="h4">4. Conditional Statement </div>
  <div class="p">Checkout in console </div>
  <br>
  <div class="row">
    <div class="p ">If Condition </div>
    <div class="col-3 h5 m-5 w-25" *ngIf="firstShow">Yes The value is true </div>
    <div class="col-3 h5 m-5 w-25" *ngIf="secondShow=='one'">Yes I am String :)</div>
    <div class="col-3 h5 m-5 w-25" *ngIf="thirdShow==123">0123456789 i am integer:)</div>

    <div class="p">If else Condition </div>
    <div class="col-3 h5 m-5 w-25" *ngIf="elsecondition else elseBlock">Yes i am true </div>
    <ng-template #elseBlock>
      <div class="col-3 h5 m-5 w-100">Yes I am false and i am in Else Block :(</div>
    </ng-template>
  </div>
  <!--END Conditional Statement  -->



  <!--Multiple Conditions & else if Cinditions  -->

  <div class="p">Multiple Conditions & else if Cinditions </div>
  <div class="row">

    <ng-template [ngIf]="textcolor=='Red'">
      <div class="col-3 h5 m-5 w-25 text-danger">Yes I am Red Color Text :)</div>
    </ng-template>

    <ng-template [ngIf]="textcolor=='Green'">
      <div class="col-3 h5 m-5 w-25 text-success">Yes I am Green Color Text :)</div>
    </ng-template>


    <ng-template [ngIf]="textcolor=='blue'">
      <div class="col-3 h5 m-5 w-25 text-primary">Yes I am Blue Color Text :)</div>
    </ng-template>
  </div>


  <!-- END Multiple Conditions & else if Cinditions  -->


  <!--Switch Case -->
  <div class="p">Switch Case 🧑 </div>
  <div class="row">
    <div [ngSwitch]="mycolor">

      <div class="col-3 h5 m-5 w-25 text-danger" *ngSwitchCase="'red'">i am Red color from Switch Case</div>
      <div class="col-3 h5 m-5 w-25 text-success" *ngSwitchCase="'green'">i am green color from Switch Case</div>
      <div class="col-3 h5 m-5 w-25 text-primary" *ngSwitchCase="'blue'">i am blue color from Switch Case</div>
      <div class="col-3 h5 m-5 w-25 text-warning" *ngSwitchCase="'yellow'">i am yellow color from Switch Case</div>

      <div class="col-3 h5 m-5 w-100 text-secondary" *ngSwitchDefault>UnKnown Color from Switch Case (Default Case)
      </div>
    </div>
  </div>
  <!-- END Switch Case  -->





  <!--Switch Case -->
  <div class="p">Loop Statements </div>
  <div class="row">
    <div class="col-2 h6 m-3 w-10 text-secondary text-center" *ngFor="let item of employee" >{{item}} TSS</div>


    <div class="p">Loop Statements using Objects </div>
    <div class="row d-flex justify-content-around m-3">
      <div class="col-2 h6 m-1  text-secondary text-left" *ngFor="let item of employeeDetails" >
        <div class="p">emplo-id :{{item.empid}}</div>
        <div class="p">emplo-name : {{item.name}}</div>
        <div class="p">emplo-email : {{item.email}}</div>
        <div class="p">emplo-phone :{{item.phone}}</div>
      </div>
    </div>

  </div>
  <hr>
</div>
<!-- END Switch Case  -->


<br>
<br>
<br>

<!-- <app-banner></app-banner>
<app-about></app-about>
<app-cards ></app-cards> -->
